.search-result-list {
  max-height: 900px;
  overflow-y: auto;
}

// add background color if selected
.selected {
  background-color: rgba(211, 211, 211, 0.651);
}

.total-result-counts {
  margin: 20px 30px;
}
