.offcanvas-title {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: blue;
  width: 100%;
}

.myWatchListSideBarBtn {
  width: 125px;
  height: 45px;
  border-radius: 5px;
  font-weight: 600;
}
