.offcanvas-title {
  font-family: "Permanent Marker", cursive;
  font-size: 2rem;
  color: #0671ec;
  width: 100%;
  padding: 1em;
}

.myWatchListSideBarBtn {
  width: auto;
  height: 45px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.9em;
  padding: 3px;
}
