.movie-item {
  padding: 0.6em;
  border: 1px solid darkgray;
  border-top: 0ch;
}

.movie-item-poster {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.movie-item-title {
  color: rgb(111, 111, 111);
  font-size: 1em;
  font-weight: 500;
}

.movie-item-year {
  color: #787a91;
  padding: 0px 5px;
  margin: 5px;
  font-size: 1em;
}
