.search-bar-container {
  width: 100%;
  color: white;
  background-color: #666666;
  align-content: center;
}

.input-group-text {
  background-color: #666666;
  border: #666666;
}

#search-icon {
  font-size: 30px;
  color: white;
}
#search-keyword-input {
  background-color: #666666;
  font-size: 30px;
  border: 0ch;
  color: white;
}

.search-input-block {
  background-color: #666666;
  margin: 10px 50px;
  width: 60%;
  align-self: flex-end;
}

.search-year-block {
  margin: 12px 10px 0px 5px;
  float: right;
  width: 25%;
}

.search-type-block {
  margin: 12px 50px 0px 10px;
  float: right;
}
