.search-bar {
  display: flex;
  width: 100%;
  color: white;
  // background-color: #666666;
  align-content: center;
  background-color: grey;
}

.search-field {
  display: flex;
  align-items: center;
  align-content: center;
}

#search-input {
  color: white;
}
