.search-result-list {
  max-height: 1000px;
  overflow-y: scroll;
}

// add background color if selected
.selected {
  background-color: #dddddd;
}

.detail-container {
  padding: 15px 0 15px 30px;
}
