@import "~bootstrap/scss/bootstrap";

.App {
  color: rgb(22, 22, 22);
  font-family: "Roboto", sans-serif;
}

// remove bootstrap default padding and width

@media (min-width: 576px) {
  .container {
    padding: 0px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0px;
    max-width: 100%;
  }
}

// set font color as grey
.grey-font {
  color: grey;
}
