.addWatchlistBtn {
  margin-top: 25px;
  margin-left: auto;
  margin-right: 15px;
  width: 125px;
  height: 45px;
  border-radius: 5px;
  background-color: white;
  .bookmark {
    margin: 2px 5px;
  }
}
